.btn_out {
  margin: 2%;
  border: 2px solid #17a2b8;
  border-radius: 2px;
  background-color: #343a40;
}

.btn_w {
  margin: 2%;
  border: none;
  background-color: #343a40;
}

.btn_w a {
  color: white;
}

.btn_w a:visited {
  color: white;
}

.btn_in {
  margin: 2%;
  border: none;
  background-color: #343a40;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.btn_in a {
  color: #007bff;
}

.btn_in a:visited {
  color: #007bff;
}

.btn_out a {
  color: #17a2b8;
}

.btn_out a:visited {
  color: #17a2b8;
}

.Right {
  width: 80%;
}

.Right img {
  vertical-align: middle;
}

.Left {
  display: flex;
  padding: 1%;
  justify-content: space-between;
}

.Left div {
  padding: 1%;
}

.nav {
  height: 20%;
  background-color: #343a40;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
