.btn_Out{
    color: aquamarine;
    background-color: black;
    width: auto;
    height: auto;
    align-items: right;
}

.Left{
    display: flex;
    flex-direction: row;

}

.nav{
    background-color: #343A40;
    display: flex;
    flex-direction: row-reverse;
    
}