.margen {
  padding: 2%;
}

.Busqueda { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.columnas {
  display: flex;
  flex-direction: column;
}
.contenedor {
  padding-top: 2%;
}

.tarjeta {
  display: flex;

  width: 92vw;
  border-radius: 20px;
  background:  #000 url(https://storage.googleapis.com/www-paredro-com/uploads/2020/02/6cf01be6-magic.png);;
  padding: 2%;
  justify-content: space-between;
}
.centrar {
  display: flex;
  align-items: center;
  width: 50%;
}

.centrarIzquierda {
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: row-reverse;
}

.SubCardContenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.marg {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.contener {
  position: relative;
  display: inline-block;
  text-align: center;
}

.centrado {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  
  
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-centrar {
  margin: 1%;
}

.fila {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
