.card {
  border-radius: 10px;
  display: inline-flex;
  box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px;
  flex-direction: row;
  padding: 5%;
}
.card-logo {
  padding: 5px;
}
.card-contenido {
  display: flex;
  align-items: center;
}

.boton {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: "Helvetica", sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
}

.boton a {
  color: aliceblue;
}
