.formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.administracion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.tabla {
  width: 80vw;
  height: 30vw;
  padding: 24px;
  border-collapse: collapse;
  text-align: center;
}

 /* .tabla tbody tr,
td {
  border: 2px black solid;
} */

/* .formularioDU .Foto img{
  flex-direction: column;
  justify-content: start;
  border-radius: ;
}

.formularioDU .Titulo h1{
  
  margin-left: auto;
  margin-right: auto;
  width: 20%;
} */