.caption {
    font-family: 'Alana', cursive;
    padding: 20px;
    caption-side: bottom;
    color: #343A40;
    text-align: right;
    letter-spacing: 1px;
    border-collapse:collapse; 
    border: none;
  }
  thead, tfoot {
    
    color: white;
    text-shadow: 1px 1px 1px black;
    
  }
  
  thead th, tfoot th, tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: solid #ffffff;
  }
  
  tr{
    border: none;
    border: solid #ffffff;
    border-left: solid #ffffff;
    border-right: solid #ffffff;
  }
  td{
    border-left: solid #ffffff;
    border-right: solid #ffffff;
  }
  table colgroup col{
    border: solid #ffffff;
  }

  col{
    border: solid #ffffff;
    
  }

  table{
    border-collapse:collapse; 
    border: none;
    text-align: center;
    border-radius: 10px;
    border: solid #ffffff;
    border-spacing: 10px;
  }

  .buttontables1{
      background-color: #007BFF;
      text-align:center;
      color: black;
      font-weight: bold;
      border-radius: 10%;
      padding: auto;
  }

  .buttontables2{
    background-color: #d41f28;
    text-align:center;
    color: black;
    font-weight: bold;
    border-radius: 10%;
    padding: auto;
}

.buttontables3{
  background-color: #f8e42e;
  text-align:center;
  color: black;
  font-weight: bold;
  border-radius: 10%;
  padding: auto;
}

.table2 {
  border-radius: 20px;
  border-spacing: 5px;
  background: #000 url("https://c.tenor.com/aV0h3VAHWUAAAAAC/gradient.gif");
  color: #fff;
}

.table3 {
  width: 80vw;
  height: 30vw;
  padding: 24px;
  border-collapse: collapse;
  text-align: center;
  border-radius: 20px;
  border-spacing: 5px;
  background: #000 url("https://storage.googleapis.com/www-paredro-com/uploads/2020/02/6cf01be6-magic.png");
  color: #fff;
}

.espacioabajo{
  margin: 25px;
}

.botonesadmin{
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Alata";
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	color: #fff;
  
}

.formulario1{
  text-align: left;
}

.inputs{
  width: 600px;
  padding: 5px;
  border-radius: 5px;
}

.trmargen{
  margin: 1ch;
  padding-top: 1ch;
  color: #007BFF;
}